/*
Credit: http://www.templatemo.com
*/

body {
	margin: 0px;
	padding: 0px;
	color: #333;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.5em; 
	background-color: #ccc;
	background-image: url(../images/templatemo_body.jpg);
	background-repeat: repeat;
}

a, a:link, a:visited { color: #333; text-decoration: underline; }
a:hover { color: #990000; text-decoration: none; }

p { margin: 0px; padding: 0; }
img { border: none; }

ul { margin: 0; padding: 0; }
ul li { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 { color: #000; }
h1 { font-size: 40px; font-weight: normal; margin: 0 0 20px 0; padding: 5px 0; }
h2 { font-size: 28px; font-weight: normal; margin: 0 0 20px 0; padding: 10px 0 15px 0; }
h3 { font-size: 21px; font-weight: normal; margin: 0 0 15px 0; padding: 0; padding: 0 0 10px 0; }
h4 { font-size: 18px; margin: 0 0 20px 0; padding: 0 0 10px 0; ; }
h5 { font-size: 16px; margin: 0 0 10px 0; padding: 0; }
h6 { font-size: 14px; margin: 0 0 5px 0; padding: 0; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }
.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.hr_divider { background: url(../images/templatemo_hr_divider.jpg) bottom repeat-x; }

.float_l { float: left; }
.float_r { float: right; }

.image_wrapper { display: inline-block; padding: 4px; border: 1px solid #666; background: none; margin-bottom: 10px; }
.image_fl { float: left; margin: 3px 15px 0 0; }
.image_fr { float: right; margin: 3px 0 0 15px; }

blockquote { font-style: italic; margin-left: 10px;}
cite { font-weight: bold; color:#3b3823; }
cite span { color: #696443; }
em { color: #e55822; }

.tmo_list { margin: 20px 0; padding: 0; list-style: none; }

.tmo_list li { 
	background: url(../images/templatemo_list.png) no-repeat scroll 0 0px; 
	margin: 0 0 20px; 
	padding: 3px 0 3px 25px; 	
	line-height: 1em; 
}

.tmo_list li a { color: #333; text-decoration: none; }
.tmo_list li a:hover { color: #d06802; text-decoration: none; }

a.continue { color: #F00; font-weight: bold; text-decoration: none; }

#templatemo_body_wrapper {
	width: 100%;
	background: url(../images/templatemo_body_top.jpg) top repeat-x;
}

#templatemo_wrapper {
	width: 1000px;
	padding: 0 10px;
	margin: 0 auto;
}

#templatemo_header {
	width: 940px;
	padding: 10px 30px;
}

#site_title {
	float: left;
	width: 630px;
	padding: 40px 0 30px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#site_title a {
	margin: 0px;
	padding: 0px;
	font-size: 50px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}

#site_title a span { color: #F00; }

#site_title a .tagline {
	font-size: 12px;
	color: #fff;
	font-weight: normal;
	margin-left: 20px;
}

#search_box { float: right; width: 280px; height: 30px; }
#search_box form { clear: both; width: 280px; height: 30px; padding: 0; } 

#searchfield { 
	height: 20px; 
	width: 188px; 
	padding: 2px 5px; 
	color: #666666; 
	line-height: 0; 
	background: none; 
	border: 1px solid #444444;
} 

#searchbutton { 
	height: 25px; 
	width: 70px; 
	color: #838383; 
	padding: 0 0 3px 0; 
	margin: 0; 
	cursor: pointer; 
	background: #161616; 
	border: 1px solid #444444;
	vertical-align: bottom;
}

/* menu */

#templatemo_menu {
	clear: both;
	width: 1000px;
	height: 35px;
}

#templatemo_menu ul {
	float: left;
	display: block;
	width: 700px;
	height: 35px;
	margin: 0;
	padding: 0;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0;
	margin: 0;
	display: inline-block;
}

#templatemo_menu ul li a {
	position: relative;
	float: left;
	display: block;
	height: 21px;
	padding: 7px 28px;
	font-size: 15px;
	color: #fff;	
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	outline: none;
}

#templatemo_menu ul li a:hover, #templatemo_menu ul .current {
	color: #000;
	background: url(../images/templatemo_menu_right.jpg) no-repeat top right;
}

#templatemo_menu ul li a:hover span, #templatemo_menu ul .current span {
	position: absolute;
	top: 0;
	left: 0;
	width: 28px;
	height: 35px;
	background: url(../images/templatemo_menu_left.jpg);
}

#register_box {
	float: right;
	width: 250px;
	color: #fff;
	font-size: 11px;
	padding-top: 10px;
}

#register_box .signup { color:#F00; font-weight: bold; text-decoration: none; }
#register_box .new_reg { color:#be6300; font-weight: bold; text-decoration: none; }
/* end of menu */

/* content */

#templatemo_main {
	width: 920px;
	padding: 40px;
	background: #fff;
}

#templatemo_content {
	float: left;
	width: 620px;
}

.post_box { clear: both; margin-bottom: 40px; }
.post_box h2 { margin-bottom: 5px; padding-bottom: 0px; }
.post_box h2 a { text-decoration: none; }

.post_box .news_meta { margin-bottom: 10px; font-size: 11px; color: #666; }
.post_box .news_meta a { color: #666; text-decoration: underline; }
.post_box .news_meta a:hover { color: #990000; text-decoration: underline; }

.pb_last { margin: 0; padding: 0; border: 0; }

#templatemo_sidebar {
	float: right;
	width: 260px;
}

#templatemo_sidebar h3 {
	display: block;
	height: 23px;
	padding: 10px;
	color: #fff;
	font-family: Georgia, "Times New Roman", Times, serif;
	background-image: url(../images/templatemo_sidebar_title.jpg);
	background-repeat: no-repeat;
	text-decoration: none !important;
}
.sidebar_box a{
	text-decoration: none !important;
}
#aboutus {
	padding: 20px;
	background: #000;
	color: #a5a5a5;
	margin-bottom: 20px;
}

#aboutus h3 {
	color: #fff;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.sidebar_box {
	clear: both;
	margin-bottom: 20px;
	width: 260px;
}

.ads_125 {
	display: block;
	float: left;
	margin: 0 10px 10px 0;
	width: 125px;
	height: 125px;
	background: #111;
}

.odd { margin-right: 0; }

.sidebar_menu { margin: 0; padding: 0; list-style: none; }
.sidebar_menu li { margin: 0 0 3px 0; padding: 3px 0; border-bottom: 1px solid #ddd; }
.sidebar_menu li a { text-decoration: none; font-size: 11px; }
.sidebar_menu li a span { color: #f00; }

.sm_two_col { margin: 0; padding: 0; list-style: none; }
.sm_two_col li { margin: 0; padding: 0; }

.sm_two_col li a {
	display: block; 
	float: left;
	width: 130px;
	text-decoration: none; 
	font-size: 11px;  
	margin: 0 0 3px 0; 
	padding: 3px 0; 
	border-bottom: 1px solid #ddd; 
}

.sm_two_col li a span { color: #f00; }

#templatemo_sidebar form { padding: 0; margin: 0; }

#templatemo_sidebar form .newsletter_email { 
	width: 160px; 
	height: 28px; 
	background: url(../images/templatemo_subscribe.jpg) no-repeat; 
	border: none; 
	padding: 0 5px; 
}

#templatemo_sidebar form #submit { 
	background: none; 
	border: none; 
	text-decoration: underline; 
	font-size: 11px; 
	cursor: pointer; 
}

.icon_link { 
	display: block; 
	float: left; 
	margin-left: 20px; 
	width: 50px; 
}

/* end of content */

/* footer */

#templatemo_footer_wrapper {
	width: 100%;
	background: #000;
}

#templatemo_footer {
	width: 920px;
	padding: 30px 40px;
	margin: 0 auto;
	color: #ddd;
}

#templatemo_footer a { color: #9d9d9d; text-decoration: none; }

#templatemo_footer h4 {
	color: #bebebe;
	font-weight: normal;
}

.footer_box {
	float: left;
	padding-right: 24px;
	margin-right: 25px;
	border-right: 1px solid #131313;
}

.col_w160 {
	width: 200px;
}

.col_w260 {
	width: 200px;
}

.col_300 {
	width: 300px;
}

.fb_last { margin: 0; padding: 0; border: 0; }

.footer_menu { margin: 20px 0; padding: 0; list-style: none; }

.footer_menu li { 
	background: url(../images/templatemo_list.jpg) no-repeat scroll 0 0px; 
	margin: 0 0 10px; 
	padding: 0 0 5px 25px; 
	line-height: 1em; 
}

.footer_menu li a { 
	color: #9d9d9d; 
	text-decoration: none; 
}

.footer_menu li a:hover { 
	color: #fff; 
	text-decoration: none;
}
/* end of footer */

#templatemo_copyright {
	width: 920px;
	padding: 15px 40px;
	margin: 0 auto;
	color: #333;
	background: #fff;
	text-align: center;
}
.autor h3{
	height: 41px !important;
	background-repeat: repeat-y !important;
}
.profileBlock h3 a{
	color: red;
}